<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=<device-width>, initial-scale=1.0">
    <link rel="stylesheet" href="/frontend/css/calendar.css" />
    <title>Vista calendario</title>
</head>

<body>
    <div class="app">
        <div class="sidebar">Sidebar</div>
        <main class="main">
            <div class="nav">
                <button class="button button--icon button--secundary mobile-only">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="button__icon"><circle cx="12" cy="12" r="1"/><circle cx="19" cy="12" r="1"/><circle cx="5" cy="12" r="1"/></svg>
                </button>
                <div class="nav__date-info">
                    <div class="nav__controls">
                        <button class="button button--secundary desktop-only">Hoy</button>
                        <button class="button button--icon button--secundary">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="button__icon"><path d="M8 2v4"/><path d="M16 2v4"/><path d="M21 17V6a2 2 0 0 0-2-2H5a2 2 0 0 0-2 2v14a2 2 0 0 0 2 2h11Z"/><path d="M3 10h18"/><path d="M15 22v-4a2 2 0 0 1 2-2h4"/></svg>
                        </button>
                    </div>

                    
                    <time class="nav__date">Agosto 2025</time>
                </div>
            </div>
            <div class="calendar">Calendar</div>
        </main>
    </div>

    <script src="frontend/js/index.js"></script>
</body>
</html>